.profile__avatar-container{
    position: relative;
    margin-right: 30px;
    max-height: 120px;
}

@media screen and (max-width: 500px){
    .profile__avatar-container{
        margin-right: 0;
    }
}