.footer{
    padding-top: 67px;
    padding-bottom: 60px;
    color: #545454;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 500px){
    .footer{
        padding-top: 48px;
        padding-bottom: 36px;
        font-size: 14px;
        line-height: 17px;

    }
}

@media screen and (max-width: 918px){
    .footer{
        margin-left: clamp(0px,calc(19px - (100vw - 880px)/2),19px);
        margin-right: clamp(0px,calc(19px - (100vw - 880px)/2),19px);
    }
}