.info-tooltip{
    padding: 60px 36px 60px;
    width: clamp(238px,34vw,358px);
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: black;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 500px){
    .info-tooltip{
        padding: 50px 22px 50px;
    }
}